<!DOCTYPE html>
<html lang="en" hx-boost="true">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <!-- HTMX расширения -->
    <script src="https://unpkg.com/htmx.org@1.9.2/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2/dist/ext/class-tools.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2/dist/ext/loading-states.js"></script>
    <style>
        .header {
            background-color: #ffe216;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .header img {
            height: 50px;
            margin-right: 10px;
        }
    </style>
    {% block styles %}
    <link rel="stylesheet" href="/static/css/maintenance-directory.css">
    {% endblock %}
</head>
<body>
    <header class="header p-3">
        <div class="container d-flex justify-content-center align-items-center">
            <img src="/static//img/logo.png" alt="Logo">
            <h1 class="mb-0">Carmain</h1>
        </div>
    </header>

    <div class="container mt-4">
        {% block content %}
        <!-- Main content goes here -->
        {% endblock %}
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <script>
        // Инициализация HTMX расширений
        document.addEventListener('DOMContentLoaded', function() {
            // Расширение для классов (подсветка активных элементов и т.д.)
//            htmx.defineExtension('class-tools', window.htmx_class_tools);

            // Расширение для состояний загрузки (для показа спиннеров и т.д.)
//            htmx.defineExtension('loading-states', window.htmx_loading_states);

            console.log('HTMX extensions initialized');
        });
    </script>
    
    {% block scripts %}
    <!-- Additional scripts -->
    {% endblock %}
</body>
</html>