{% extends "base.html" %}

{% block title %}
    Мои автомобили - Carmain
{% endblock %}

{% block content %}
    <h2>Мои автомобили</h2>

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <style>
        /* Фиксированная высота для карусели */
        .carousel-item .card {
            min-height: 500px; /* Фиксированная высота для всех карточек */
        }
        .carousel-item .card-body {
            height: 430px; /* Фиксированная высота для карточек (высота карточки минус заголовок) */
            overflow-y: auto; /* Добавляем скролл если содержимое не помещается */
        }
        
        /* Желтая цветовая гамма */
        .card-header {
            background-color: #ffe216 !important;
            color: #333 !important;
        }
        .btn-car-primary {
            background-color: #ffcc00;
            border-color: #e6b800;
            color: #333;
        }
        .btn-car-primary:hover {
            background-color: #e6b800;
            border-color: #cc9900;
            color: #333;
        }
        .carousel-placeholder {
            background-color: #ffcc00 !important;
        }
        
        /* Стилизуем кнопки карусели */
        .carousel-control-prev, .carousel-control-next {
            width: 10%;
            opacity: 0.8;
            background: rgba(255, 226, 22, 0.5); /* Полупрозрачный желтый фон */
            top: 50%;
            height: 80px;
            transform: translateY(-50%);
            border-radius: 5px;
        }
        .carousel-control-prev {
            left: -10px;
        }
        .carousel-control-next {
            right: -10px;
        }
        .carousel-control-prev-icon, .carousel-control-next-icon {
            background-color: #ffcc00;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            background-size: 50% 50%;
        }
        .carousel-indicators li {
            background-color: #ffcc00;
        }
        .carousel-indicators .active {
            background-color: #e6b800;
        }
    </style>


    <div class="row">
        {% if vehicles %}

        <div class="col-md-1 d-flex align-items-center justify-content-end">
            <button class="btn btn-car-primary rounded-circle p-2" type="button" data-target="#vehiclesCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Предыдущий</span>
            </button>
        </div>
        {% endif %}
        

        <div class="col-md-{% if vehicles %}10{% else %}12{% endif %}">
            <div id="vehiclesCarousel" class="carousel slide mb-4">

                <div class="carousel-indicators">
                    {% for vehicle in vehicles %}
                        <button type="button" data-target="#vehiclesCarousel" data-slide-to="{{ loop.index0 }}" 
                            {% if loop.first %}class="active" aria-current="true"{% endif %} 
                            aria-label="Vehicle {{ loop.index }}"></button>
                    {% endfor %}

                    <button type="button" data-target="#vehiclesCarousel" data-slide-to="{{ vehicles|length }}" 
                        {% if not vehicles %}class="active" aria-current="true"{% endif %}
                        aria-label="Add Vehicle"></button>
                </div>
                
                <div class="carousel-inner">

                    {% for vehicle in vehicles %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <div class="card text-center">
                                <div class="card-header">
                                    <h3>{{ vehicle.brand }} {{ vehicle.model }}</h3>
                                </div>
                                <div class="card-body d-flex flex-column justify-content-center">
                                    <svg class="bd-placeholder-img card-img-top mb-3" width="100%" height="200" 
                                        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" 
                                        focusable="false" role="img" aria-label="Car Image">
                                        <rect width="100%" height="100%" fill="#ffcc00" class="carousel-placeholder"></rect>
                                        <text x="50%" y="50%" fill="#333" dy=".3em">{{ vehicle.brand }} {{ vehicle.model }}</text>
                                    </svg>
                                    <div class="vehicle-info my-4">
                                        <p class="card-text">Год выпуска: {{ vehicle.year }}</p>
                                        <p class="card-text">Пробег: {{ vehicle.odometer }} км</p>
                                    </div>
                                    <div class="mt-auto">
                                        <a href="/vehicles/{{ vehicle.id }}" class="btn btn-car-primary">Детали обслуживания</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    

                    <div class="carousel-item {% if not vehicles %}active{% endif %}">
                        <div class="card text-center">
                            <div class="card-header">
                                <h3>Добавить новый автомобиль</h3>
                            </div>
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <form id="addVehicleForm" class="w-100 mx-4" hx-post="/api/v1/vehicles/create" hx-swap="none" hx-on::after-request="location.reload()">
                                    <div class="form-group">
                                        <label for="brand">Марка</label>
                                        <input type="text" class="form-control" id="brand" name="brand" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="model">Модель</label>
                                        <input type="text" class="form-control" id="model" name="model" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="year">Год выпуска</label>
                                        <input type="date" class="form-control" id="year" name="year" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="odometer">Пробег (км)</label>
                                        <input type="number" class="form-control" id="odometer" name="odometer" required min="0">
                                    </div>
                                    <input type="hidden" name="user_id" value="{{ user.id }}">
                                    <button type="submit" class="btn btn-car-primary">Добавить автомобиль</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% if vehicles %}

        <div class="col-md-1 d-flex align-items-center">
            <button class="btn btn-car-primary rounded-circle p-2" type="button" data-target="#vehiclesCarousel" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Следующий</span>
            </button>
        </div>
        {% endif %}
    </div>

{% endblock %}